body {
  font-size: 24px;
}
table {
  margin: auto;
}

tr td {
  text-align: right;
  cursor: pointer;
}

tr td:nth-child(1) {
  text-align: left;
  font-weight: bold;
  background-color: rgb(225, 247, 255);
  padding: 10px 15px 10px 3px;
}

th {
  background-color: #fff;
  padding: 10px 20px;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 139);
}
tr:nth-child(even):hover {
  background-color: rgb(255, 255, 139);
}

i {
  padding-right: 10px;
}
.fa-euro-sign {
  color: orange;
}

.fa-dollar-sign {
  color: lightgreen;
}

.fa-lira-sign {
  color: lightblue;
}

.fa-yen-sign {
  color: lightgreen;
}